/* ------------------------DESKTOP ----------------------------------------------------*/

/*INDEX*/
*
{
    padding:0px;
    margin:0px;
}
body
{
    font-family: 'Montserrat', sans-serif;
	height:auto;
    overflow-x: hidden;
}
img
{
    border:0;
}
/*INDEX*/





/*TOPO*/
.topo
{
    width:100%;
    z-index:10;
    height: 88px; 
}


.navbar-brand
{
    margin-left: -28px;
}

/*FIM TOPO*/





/*MENU*/
.header-menu
{
    font-weight:bold;
    background-color: #fff;
    color:#00173c;
    border-bottom: none;
}
.navbar
{
    font-size: 11px;
    text-transform: uppercase;
}
.navbar-nav
{
    margin-left: 120px;
}
.navbar li
{
    padding-left: 27px;
}

.pipe
{
    height:25px;
    color:#00173c;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
	font-weight:100;
	line-height:22px;
}
.social
{
    display:flex;
}
#logo
{
	width:90px;
}
#menu
{
	width:950px;
}
/*FIM MENU*/





/*BANNER DESTAQUE*/
.banner_destaque
{
    height:577px;
    z-index:9;
  
}
.cx_lead
{
    float:left;
    position: relative;
    margin-bottom: 290px;
    margin-left:-80px;
}

.lead
{
    background-color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}
.lead_csv
{
    width: 345px;
    font-size: 18px;
    padding: 5px 15px;
    font-weight:bold;
    height:35px;
}
.lead_desc
{
    
    width: 220px;
    font-size: 18px;
    padding: 5px 15px;
    font-weight:bold;
    background-color: #00173c;
    color:#fff;
    height:35px;
}
.lead_ips
{
    width: 305px;
    font-size: 18px;
    padding: 5px 15px;
    font-weight:bold;
    background-color: #00173c;
    color:#fff;
    height:35px;
}
.lead_dr
{
    width: 247px;
    font-size: 18px;
    padding: 5px 15px;
    font-weight:bold;
    background-color: #00173c;
    color:#fff;   
    height:35px;
}
.lead_s
{
    margin-top:-10px;
}

/*VENDA MODELOS DE CARROS */
.vd_modelos
{
    position: absolute;
    padding:20px 0px;
    float:right;
    right:-120px;
    bottom:-10px;
    text-align: left;
}

.vd_modelos h2
{
    padding: 15px 20px;
    height:55px;
    width:310px;
    font-size:28px;
    opacity:.8;
    background-color:#00173c;
    color:#fff;
    margin-top: 130px;
    text-align: left;
     font-family: 'Montserrat', sans-serif;
}


.vl_preco
{
   padding:10px 0px 0px 10px;
   width:330px;
   opacity:.8;
    background-color:#00173c;
   color:#fff;
   bottom: -30px;
}

.vl_preco h5 
{
    padding-top:10px;
    padding-left: 10px;
    opacity:.9;
    font-weight: 300;
    text-transform: uppercase;
   
}

.vl
{
    padding-left: 10px;
    font-weight: bold;
    font-size: 50px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
}

.cifrao
{
    padding-left: 10px;
    font-size: 22px;
    font-weight:100px;
}

.tb_fabricante
{
     padding-left: 10px;
     padding-bottom: 10px;
     font-family: 'Montserrat:300';
     font-size: 14px;
}

.model_left
{
	margin-left:-200px;
}
/*FIM BANNER DESTAQUE*/





/* SLIDER */
.slider
{
    margin-top:-150px;
    width:100%;
    height:500px;
    
}
.txt_destaques
{
    float: left;
    padding-top: 21px;
    padding-left: 100px;
}

.txt_destaques p
{
    padding:10px;
    height:40px;
    font-weight: bold;
    text-transform: uppercase;
    width:310px;
    background-color:#fff;
    color:#00173c;
    font-size: 16px;
    text-align: left;
    
}

/* FIM SLIDER */




/*FORMULARIO*/
.formulario
{
    height:578px;
    text-align: center;
    padding-top: 150px;
    color:#000;
    font-weight: bold;
    background-color:cornflowerblue;
}

.formulario select
{
    height:35px;
}
.formulario .nome
{
    width:360px;
    height:35px;
}
.formulario .ddd_celular
{
    width:102px;
    margin-left: 35px;
    height: 35px;
    
}
.formulario .celular
{
    width:200px;
    margin-left: 15px;
}

.formulario .email
{
    width:360px;
}

.formulario .ddd_telefone
{
    width:102px;
    margin-left: 35px;
}

.formulario .telefone
{
    width:200px;
    margin-left: 15px;
}
.formulario .cidade
{
    width:360px;
    height:35px;
}
.formulario .sel_estado
{
    width:102px;
    height: 36px;
    margin-left: 35px;
    color:#888;
}
.formulario .ddd_cep
{
    width:90px;
    margin-left: 15px;
}
.formulario .ddd_interrogacao
{
    width:90px;
    margin-left: 15px;
}
.formulario .necessidade{
    margin-top: 17px;
    color:#888;
    width:505px;
    height:35px;
}
.formulario .condutor
{
    width:200px;
    height: 35px;
    color:#888;
    margin-left:15px;
}
/*FIM FORMULARIO*/


/*FORMULARIO*/
.formulario
{
	border-top:1px solid #FFF;
    background-image: url(imgs/banner_avaliacao.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:570px;
}
.formulario h1
{
    margin-top:-50px;
    color:#fff;
    text-align:left;
    font-size: 56px;
    font-weight: bold;
}
.formulario h2
{
    color:#fff;
    text-align:left;
    font-size: 19px;
}
.formulario p
{
    margin-top: 20px;
    text-align: left;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 100;
}
input{
    margin-top: 17px;
    padding:5px;
    height: 35px;
}
.d_necessidade
{
    margin-top: 17px;
    padding:5px;
    width:375px;
    margin-left: 2px;
}
textarea{
    width:725px;
    height:130px;
    margin-top: 17px;
    color:#888;
}
   
.btn
{
    padding:5px;
    width:155px;
    border-radius:20px;
    background-color: #e9b717;
    font-weight: bold;
    text-transform: uppercase;
    color:#1d203e;
    float: right;
    cursor: pointer;
	margin-top:10px;
}
.id_condutor
{
    margin-left: 10px;
}

#form
{
    margin-top:-55px;
}
.sl_estado
{
    display:inline;
}
#prev2 img
{
    left:2px;
    position: absolute;
}
#next2 img
{
  position: absolute;
  right:-13px;
}
.nav_prev_next
{
   width:100%; 
   margin-top:-205px;
}
.nav_carros_mod
{
    margin-top:-205px;
}
/*FORMULARIO*/





/*VIDEO*/
.video
{
    height:531px;
    
}
/*FIM VIDEO*/






/*OFERTAS DE VEICULOS*/
.ofertas_veiculos
{
    position: relative;
    height:786px;
    margin-top: 200px;
    background-image:URL(imgs/ofertas_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
	border-top:1px solid #dbfeff;
}
.ofertas_veiculos h2
{
    padding-top:100px;
    text-align: center;
    color:#1d203e;
    font-size: 36px;
}

.fabricantes
{
    width: 100%;
    height: 68px;
    margin-top: 40px;
    padding:13px 5px;
	background-image:url(imgs/menu_transparente.jpg);
    
    
}

.modelo_fb
{
    margin-top: 20px;
}

.fabricantes img
{
	
    margin-left: -9px;
    padding:0px 5px 0px 0px;

}

.fabricantes a
{
    padding: 20px;
    text-decoration: none;
}

.fabricantes .ativo
{
	
    background-color: #fff;
    opacity: .9;
	float:left; margin-left:-3px; margin-top:-12px; height:65px;
}

.fab_modelo
{
    margin-left: -8px;
    padding-top: 25px;
}

.fab_modelo h4
{
    
    width:270px;
    height: 50px;
    padding:10px 10px;
    background-color: #06092e;
    color:#fff;
    font-size: 28px;
    font-weight: 100;
}

.slider_modelo
{
    margin-left: 40px;
    margin-top: 60px;
}

.fab_modelo p
{
    text-align: center;
    width:270px;
    height: 40px;
    padding:14px 0px;
    background-color: #06092e;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
}
.logo_destaque
{
    position: absolute;
    right:-5px;
    top: 0px;
}
.carro_modelo
{
    margin-top: 20px;
}
.profissao
{
	width:99%;
}
/*OFERTAS DE VEICULOS*/




/*PATOLOGIAS*/
.patologias
{
	margin-top:-20px;
	background-image:url(imgs/quem-tem-direito_bg.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
    height: 853px;
}

.cx_patologia
{
	float:left;
	margin-top:150px;
	width:95%;
	margin:0 auto;
	height:690px;
	border:2px solid #ccc;
	
}

.veja
{
	width:330px;
	margin-left:-120px;
	background-color:#eaedef;
}
.veja p
{
	color:#000;
	text-align:justify;
	font-weight:400;
	font-size:15px;
	margin-top:30px;
	
}
.veja h2
{
	margin-top:100px;
	font-size:33px;
	font-weight:500;
	color:#000;
	padding-top:20px;
}
.doencas
{
	margin-left:140px;
	float:right;
	width:75%;
	height:615px;
	margin-top:-500px;
}

.doencas p
{
	color:#000;
}

.link_doencas
{
	width:50%;
}

.link_doencas ul
{
	list-style:none;
	margin-top:-40px;
}
.link_doencas li
{
	font-size:12px;
	text-transform:uppercase;
	text-align:left;
}
.link_doencas a
{
	color:#000;
	line-height:25px;
}

.doencas p
{
	font-size:10px;
	font-weight:500;
	margin-top:10px;
	text-align:justify;
	padding-right:20px;
	
}
/*FIM PATOLOGIAS*/




.isencao_impostos
{
	background-image:url(imgs/isencao_impostos.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	margin-top:-20px;
	height:507px;
}
.isencao_impostos h2
{
	margin-top:90px;
	font-size:50px;
	color:#1d203e;
	letter-spacing:-5px;
}
.txt_isencao
{
	margin-left:160px;
}

.txt_isencao h2
{
	margin-top:180px;
}
.isencao_impostos p
{
	color:#1d203e;
	font-weight:bold;
	text-align:justify;
	font-size:16px;
}

.cx_doencas_cronicas
{
	margin-left:600px;
	margin-top:-285px;
	width:100%;
	height:350px;
	border:2px solid #e9b717;
}

/*VIDEO*/
.video
{
    margin-top: 50px;
}
/*VIDEO*/





<!-- O QUE FAZEMOS -->
.sobre
{
	
	
	
}
<!-- O QUE FAZEMOS -->



<!-- LOGO MEGA -->
.logo_megaisencoes
{
	height:387px;
	border:1px solid #999;
}

.logo_megaisencoes img
{
	
	margin-top:130px;
}
<!-- LOGO MEGA -->

.logo_megaisencoes h2
{
	font-size:12px;
	text-align:left;
	color:#00103a;
	margin-left:20px;
	
}

.logo_megaisencoes h3
{
	margin-left:40px;
	font-size:12px;
	text-align:left;
	color:#00103a;
	font-weight:500;
}

.logo_megaisencoes p
{
	margin-left:40px;
	font-size:small;
	color:#00103a;
	margin-bottom:100px;
}

.log_cor
{
	margin-top:100px;
	color:#00103a;
	font-weight:bold;
}
.quem_tem_direito
{
	margin-left:280px;
	height:430px;
}

.quem_tem_direito h2
{
	font-size:32px;
	text-decoration:underline;
	margin-top:100px;
	text-align:left;
	color:#160c65;
}

.quem_tem_direito h3
{
	margin-top:60px;
	font-size:60px;
	text-align:left;
	color:#160c65;
	font-weight:bold;
}

.quem_tem_direito p
{
	font-size:16px;
	text-align:left;
	color:#160c65;
	font-weight:bold;
}

.icons
{
	margin:0 auto;
	cursor:pointer;
}

.icons .ativado
{
	background-image:url(imgs/1_quem-tem-direito_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_isencao_tributaria
{
	background-image:url(imgs/2_isencoes-tributarias_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_nao_condutores
{
	background-image:url(imgs/3_nao-condutores_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}


.icons .ativado_habilitacao_especial
{
	background-image:url(imgs/4_habilitacao-especial_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_defesa_pontuacao
{
	background-image:url(imgs/5_defesa-pontuacao_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_laudo_medico
{
	background-image:url(imgs/6_laudo-medico_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_venda_usado
{
	background-image:url(imgs/7_venda-seu-usado_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_cartao_defis
{
	background-image:url(imgs/8_cartao-defis_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}


.icons .ativado_cartao_defis
{
	background-image:url(imgs/8_cartao-defis_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_avaliacao_gratuita
{
	background-image:url(imgs/9_avaliacao-gratuita_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_adaptacao_veiculos
{
	background-image:url(imgs/10_adaptacao-de-veiculos_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_empresa
{
	background-image:url(imgs/11_empresas_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons .ativado_concessionarias
{
	background-image:url(imgs/12_concessionarias_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}



.icons #isencoes_tributarias:hover
{
	background-image:url(imgs/2_isencoes-tributarias_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #nao_condutores:hover
{
	background-image:url(imgs/3_nao-condutores_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #habilitacao_especial:hover
{
	background-image:url(imgs/4_habilitacao-especial_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #defesa_pontuacao:hover
{
	background-image:url(imgs/5_defesa-pontuacao_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #laudo_medico:hover
{
	background:url(imgs/6_laudo-medico_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #venda_usado:hover
{
	background:url(imgs/7_venda-seu-usado_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #cartao_defis:hover
{
	background-image:url(imgs/8_cartao-defis_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #avaliacao_gratuita:hover
{
	background-image:url(imgs/9_avaliacao-gratuita_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #adaptacao_veiculos:hover
{
	background-image:url(imgs/10_adaptacao-de-veiculos_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #empresa:hover
{
	background-image:url(imgs/11_empresas_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.icons #concessionarias:hover
{
	background-image:url(imgs/12_concessionarias_ativado.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.isen_impost
{
	height:44px;
	margin-top:15px;
	height:80px;
	margin-left:-50px;
}

.img_isent_impost
{
	float:left;
}

.txt_isent_impost
{
	float:left;
	font-size:12px;
	width:560px;
	text-align:justify;
	font-weight:100;
	margin-top:15px;
	margin-left:10px;
}
/*.txt_isent_impost:hover
{
	font-weight:bold;
	background-color:#FFF;
	opacity:.8;
	cursor:help;
	padding:3px;
}*/

#titulo
{
	font-weight:100;
}

#titulo strong
{
	font-weight:bold;
}
/*LOCAL*/

/*LOCAL*/


/*RODAPE*/
.rodape
{
	width:100%;
	background-color:#e7e7e7;
	clear:both;
    height:600px;
	list-style:none;  
	color:#010f3c;
	font-size:12px;
}

.rodape a 
{
	color:#010f3c;
}

.rodape_col1
{
	margin-top:60px;
	text-align:left;
	float:left;
	width:35%;
}

.rodape_col1 ul
{
   list-style:none;
}

.rodape_col1 ul li
{
	line-height:80px;
}
.rodape_col2
{
	margin-top:90px;
	text-align:left;
	float:left;
	width:35%;
	line-height:35px;
}

.rodape_col3
{
	margin-top:100px;
	text-align:left;
	float:left;
	width:30%;
}
.rodape_inferior
{
	height:144px;
	background-color:#818181;
}

.redes_sociais1
{
	width:105%;
	display:block;
	margin-bottom:20px;
}
/*FIM RODAPE*/


/* ------------------------DESKTOP ----------------------------------------------------*/





/* ------------------------TABLET ----------------------------------------------------*/

/* MEDIA QUERY */
@media only screen and (min-width: 768px) and (max-width:1024px){
    
    /*BANNER DESTAQUE TABLET */
	#logo
	{
		margin-left:20px;
	}
    .cx_lead
    {
        display:none;
    }
    /* FIM BANNER DESTAQUE TABLET */
    
       /* MENU */
    .navbar-nav 
    {
        font-size: 10px;
    }   
    /* FIM MENU */
    
    /*REDE SOCIAL*/
    .social
    {
        display: none;
    }
    /*FIM REDE SOCIAL*/
    
  
    #form
    {
        display: none;
    }
	.formulario
	{
		display:none;
	}
    .formulario h1
    {
        text-align: center;
        display: none;
    }
    .formulario h2
    {
        display: none;
    }
    .formulario p
    {
        display:none;
    }
    .video
	{
		display:none;
	}
  
}

/* FIM MEDIA QUERY */


/* ------------------------TABLET ----------------------------------------------------*/








/* ------------------------CELULARES ----------------------------------------------------*/




/* MEDIA QUERY */
@media only screen and (min-width: 368px) and (max-width:768px){
    
    
    /*BANNER DESTAQUE CELULARES */
	#logo
	{
		margin-left:20px;
	}
	.formulario
	{
		display:none;
	}
	.video
	{
		display:none;
	}
    .cx_lead
    {
        display:none;
    }
    /* FIM BANNER DESTAQUE CELULARES*/
    
       /* MENU */
    .navbar-nav 
    {
        font-size: 12px;
    }   
    /* FIM MENU */
    
    /*REDE SOCIAL*/
    .social
    {
        display: none;
    }
    /*FIM REDE SOCIAL*/
    
    /*FORMULARIO*/
    .formulario
    {
        height:auto;
    }
    #form
    {
        display: none;
    }
    .formulario h1
    {
        text-align: center;
        display: none;
    }
    .formulario h2
    {
        display: none;
    }
    .formulario p
    {
        display:none;
    }
}
  /*FORMULARIO*/


/* ------------------------CELULARES ----------------------------------------------------*/







/* MEDIA QUERY - GALAXI*/
@media only screen and (min-width: 360px) and (max-width:640px){
	
	.formulario
	{
		display:none;
	}
	.video
	{
		display:none;
	}
	#logo
	{
		margin-left:20px;
	}
	.social
	{
		display:none;
	}
	
}
/* MEDIA QUERY - GALAXI*/





/* MEDIA QUERY */
@media only screen and (min-width: 320px) and (max-width:568px){
	
	.formulario
	{
		display:none;
	}
	.video
	{
		display:none;
	}
	#logo
	{
		margin-left:20px;
	}
	.social
	{
		display:none;
	}
	
}
/* MEDIA QUERY */